<%- include('partials/header'); %>
<%- include('partials/nav') %>
<% if (locals.products) { %>
  <h2 class="heading">ON SALE</h2>
  

    <div class="home-container">
    
      <% for( let product of products) { %>
        <div class="box">
          <div class="box-img"><a href="/viewProduct/<%= product.id %>">
            <img src="<%= product.img %>" alt=""  id="view-click"></a>
            
        </div>
        
        <a href="/viewProduct/<%= product.id %>"><h3 class="click"><%= product.name %></h3></a>
        <a href="/viewProduct/<%= product.id %>"><span class="click">$<%= product.price %></span> </a>
        </div>
        
      <% } %>
    </div>
    
     

   
<% } %> 


  
<% if (!locals.user) { %>
 <a href="/login">Sign up</a>
 <% } else { %>
    <% if (user.role=="admin") { %>
     <button class="add-btn"><a href="addproduct">Add Product</a></button>
    <% } %>
  
<% } %>


<%- include('partials/footer')%>
